@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Montserrat', sans-serif;
  scrollbar-color: black #f1f5f9;
  scrollbar-width: thin;
  scroll-behavior: smooth;
}

@media only screen and (max-width: 1024px) {
  .header {
    transition: ease-in-out;
    transition-duration: 150ms;
    transform: translateX(-100vw);
  }
  .mainOpen {
    transition: ease-in-out;
    transition-duration: 150ms;
    transform: translateX(256px);
  }
  .headerOpen {
    transition: ease-in-out;
    transition-duration: 150ms;
    transform: translateX(0);
  }
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: black;
}
.text {
  background: black;
  color: white;
  padding: 1px;
}

.tooltip {
  display: inline-block;
  position: relative;

  text-align: left;
}

.tooltip .right {
  min-width: 200px;
  top: 50%;
  left: 100%;
  margin-left: 20px;
  transform: translate(0, -50%);
  padding: 10px 20px;
  color: black;
  background-color: white;
  font-weight: normal;
  font-size: 13px;
  border-radius: 8px;
  position: absolute;
  z-index: 99999999;
  box-sizing: border-box;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
  display: none;
}

.tooltip:hover .right {
  display: block;
}

.tooltip .right i {
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  width: 5px;
  height: 10px;
  overflow: hidden;
}

.tooltip .right i::after {
  content: '';
  position: absolute;
  width: 5px;
  height: 5px;
  left: 0;
  top: 50%;
  transform: translate(50%, -50%) rotate(-45deg);
  background-color: white;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
}
