---
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Take a look at my personal website to find out more about me and what i am capable of"
    />
    <meta
      name="keywords"
      content="Abdallah Karam, Web Developer, Full Stack,  IT, IT Manager, IT support, Beirut, Istanbul , Turkey , Lebanon, React,Express,MongoDB,Javascrip,HTML,CSS "
    />
    <meta name="author" content="Abdallah Karam" />
    <link rel="stylesheet" href={Astro.resolve('../styles/global.css')} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
      integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <title>Abdallah Karam</title>
  </head>
  <body
    class="container mx-auto py-8 lg:py-16 px-4  bg-secondary overflow-x-hidden "
  >
    <nav
      class="bg-primary sticky   z-10 flex items-center gap-4 top-2 lg:hidden text-white p-4 rounded"
    >
      <button
        class="hover:translate-x-2 transition-all cursor-pointer h-6 w-6"
        onclick="openMenu()"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6 "
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          stroke-width="2"
          id="openBtn"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M4 6h16M4 12h16M4 18h7"></path>
        </svg>

        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6 hide "
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          stroke-width="2"
          id="closeBtn"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M6 18L18 6M6 6l12 12"></path>
        </svg>
      </button>
      <p class="text-2xl font-bold">Abdallah Karam</p>
    </nav>
    <header
      id="header"
      class="w-[240px] flex flex-col text-white items-center h-[500px] header bg-primary rounded float-left fixed top-32 lg:top-16 px-8 gap-4 pt-16 pb-8  shadow z-10"
    >
      <img
        src={Astro.resolve('../assets/me.jpg')}
        alt="My Picture"
        class="w-28 h-28 rounded-full "
      />
      <p class="text-xl font-bold">Abdallah Karam</p>
      <ul class="w-full flex flex-col gap-4">
        <li
          class="hover:translate-x-2 transition-all cursor-pointer w-max"
          onclick="ScrollTo('home')"
        >
          Home
        </li>
        <li
          class="hover:translate-x-2 transition-all cursor-pointer w-max"
          onclick="ScrollTo('about')"
        >
          About
        </li>
        <li
          class="hover:translate-x-2 transition-all cursor-pointer w-max"
          onclick="ScrollTo('projects')"
        >
          Projects
        </li>
        <li
          class="hover:translate-x-2 transition-all cursor-pointer w-max"
          onclick="ScrollTo('blog')"
        >
          Blog
        </li>
      </ul>
      <ul class="w-full flex justify-between text-2xl mt-auto ">
        <li class="hover:-translate-y-1 transition-all">
          <a
            href="https://www.linkedin.com/in/abdallahkaram/"
            rel="noreferrer"
            target="_blank"
            class="text-white"
            aria-label="Linkedin"
            ><i class="fa fa-linkedin" aria-hidden="true"></i>
          </a>
        </li>

        <li
          class="hover:-translate-y-1 transition-all tooltip cursor-pointer z-20"
          onclick="copy('abdallahhkaram@gmail.com ','email')"
          onmouseout="outFunc('Copy Email','email')"
        >
          <div class="tooltip">
            <i class="fa fa-at" aria-hidden="true"></i>
            <div class="right">
              <p id="email">Copy Email</p>
              <i></i>
            </div>
          </div>
        </li>
        <li class="hover:-translate-y-1 transition-all">
          <a
            href="https://github.com/abdallahhkaram"
            rel="noreferrer"
            target="_blank"
            class="text-white"
            aria-label="Github"
            ><i class="fa fa-github" aria-hidden="true"></i>
          </a>
        </li>
        <li
          class="hover:-translate-y-1 transition-all tooltip cursor-pointer"
          onclick="copy('+9005492561675 ','phone1')"
          onmouseout="outFunc('Copy Phone Number','phone1')"
        >
          <div class="tooltip">
            <i class="fa fa-phone" aria-hidden="true"></i>
            <div class="right">
              <p id="phone1">Copy Phone Number</p>
              <i></i>
            </div>
          </div>
        </li>
      </ul>
    </header>

    <main
      id="main"
      class="min-h-screen mt-8 lg:mt-0  lg:ml-64 rounded flex px-4 flex-col gap-8 transition-all"
    >
      <section
        id="home"
        class="h-[500px] bg-secondary-light rounded flex flex-col justify-center p-4 lg:p-8 items-center text-center shadow  relative "
      >
        <h1 class="text-4xl font-bold lg:text-6xl leading-10 mb-6">
          Hey 👋
          <br />
          I'm Abdallah Karam
        </h1>
        <h2 class="text-xl font-medium">
          I'm a fulltime IT Administrator, and a freelance Full-Stack Developer
        </h2>
        <div class="absolute bottom-8 delay-1000 animate-bounce">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M19 13l-7 7-7-7m14-8l-7 7-7-7"></path>
          </svg>
        </div>
      </section>
      <section
        id="about"
        class=" bg-secondary-light rounded   p-8 lg:p-16  shadow"
      >
        <h2 class="text-3xl font-semibold mb-1">About Me</h2>
        <span class="bg-black h-2 w-10 block rounded mb-8"></span>
        <p class=" text-gray-800 text-xl font-thin  mb-16">
          I am Abdallah Karam, an IT Administrator and a fullstack web developer
          from Beirut, Lebanon. Coming from an IT background I decided to enter
          the world of development after my company wanted to update their
          existing website and internal system. I took on the challenge of
          learning web development on my own, starting off with the basics of
          <span class="text"> HTML CSS and Javascript</span> , transitioning to complex
          frameworks such as
          <span class="text">ReactJs and NextJs.</span> Once done with the front
          end, I moved on to learning about
          <span class="text"
            >APIs, databases and backend systems and servers.</span
          >
          I grasped the key technologies of the
          <span class="text"> MERN stack</span> and went on to develop a full logistics
          booking and tracking system, having integrated it with international couriers’
          APIs such as FedEx and DHL to name a few. To this day i keep on learning
          more and more about development everyday with new tools and technologies
          to add to my arsenal as a full stack web developer.
        </p>
        <div>
          <a
            href={Astro.resolve('../assets/resume.pdf')}
            target="_blank"
            rel="noreferrer"
            class="bg-black text-white px-4 py-2 inline-block rounded hover:-translate-y-2 transition-all "
            >Get My Resume</a
          >
        </div>
      </section>

      <section class=" bg-secondary-light rounded  p-8 lg:p-16 shadow">
        <h2 class="text-3xl font-semibold mb-1">
          Skills and Technologies and Interests
        </h2>
        <span class="bg-black h-2 w-20 block rounded mb-8"></span>
        <div class="grid xl:grid-cols-2 gap-8">
          <div class="ml-2">
            <h2 class="text-2xl font-semibold mb-1">
              Development Technologies:
            </h2>

            <ul class="text-xl font-medium">
              <li>HTML - CSS - SCC - Javascript - Typescript</li>
              <li>BootStrap - TailwindCSS - MUI</li>
              <li>RactJS - NextJS</li>
              <li>MVC frameworks</li>
              <li>NodeJS - ExpressJS</li>
              <li>MongoDB</li>
              <li>Git - NGINX - Linux Server Deployment</li>
            </ul>
          </div>
          <div class="ml-2">
            <h2 class="text-2xl font-semibold mb-1">
              IT Skills and Technologies:
            </h2>

            <ul class="text-xl font-medium">
              <li>Windows - Linux - Mac</li>
              <li>Windows Server - Linux Server</li>
              <li>Cisco - FortiGate - Fortinet</li>
              <li>NETsurveillance</li>
              <li>TCP/IP - DNS</li>
              <li>Network Patching and termination</li>
              <li>Camera installation</li>
              <li>Computer Upgrade and migration</li>
              <li>Windows Image Creation and installation</li>
            </ul>
          </div>
          <div class="ml-2">
            <h2 class="text-2xl font-semibold mb-1">
              Technologies im learning:
            </h2>

            <ul class="text-xl font-medium">
              <li>Astro</li>
              <li>VueJS</li>
              <li>PHP</li>
              <li>Laravel</li>
              <li>SQL</li>
              <li>Postgres</li>
              <li>Unit Testing - E2E Testing</li>
            </ul>
          </div>
          <div class="ml-2">
            <h2 class="text-2xl font-semibold mb-1">Interests:</h2>

            <ul class="text-xl font-medium">
              <li>Computers</li>
              <li>Game Development</li>
              <li>Formula 1</li>
              <li>Camping - Basketball</li>
              <li>Pixel Art Generation</li>
            </ul>
          </div>
        </div>
      </section>
      <section
        id="projects"
        class=" bg-secondary-light rounded  p-8 lg:p-16 shadow"
      >
        <h2 class="text-3xl font-semibold mb-1">My Projects</h2>
        <span class="bg-black h-2 w-10 block rounded mb-8"></span>
        <div class="grid lg:grid-cols-3 gap-8">
          <div class="card bg-slate-100 p-4 rounded shadow cursor-pointer">
            <p class="text-2xl font-semibold mb-2">Eliexpress</p>
            <img
              src={Astro.resolve('../assets/mockup1.png')}
              alt="My Picture"
              width="300"
            />
          </div>
          <div class="card bg-slate-100 p-4 rounded shadow cursor-pointer">
            <p class="text-2xl font-semibold mb-2">Eli Dash</p>
            <img
              src={Astro.resolve('../assets/mockup2.png')}
              alt="My Picture"
              width="300"
            />
          </div>
        </div>
      </section>
      <section
        id="blog"
        class=" bg-secondary-light rounded  p-8 lg:p-16 shadow"
      >
        <h2 class="text-3xl font-semibold mb-1">Blog</h2>
        <span class="bg-black h-2 w-10 block rounded mb-8"></span>
        <h3 class="font-medium text-2xl">
          Some day, ill get the insperation to start writing my own blog. <br />
          But for now enjoy staring at this section.
        </h3>
      </section>
    </main>

    <footer></footer>
    <script>
      function openMenu() {
        var main = document.getElementById('main');
        var header = document.getElementById('header');
        var open = document.getElementById('openBtn');
        var close = document.getElementById('closeBtn');
        main.classList.toggle('mainOpen');
        header.classList.toggle('headerOpen');
        open.classList.toggle('hide');
        close.classList.toggle('hide');
      }
      const copy = (val, id) => {
        navigator.clipboard.writeText(val);
        var tooltip = document.getElementById(id);
        tooltip.innerHTML = 'Copied: ' + val;
      };
      const outFunc = (val, id) => {
        var tooltip = document.getElementById(id);
        tooltip.innerHTML = val;
      };
      function ScrollTo(id) {
        if (window.innerWidth < 1024) {
          openMenu();
        }
        setTimeout(() => {
          var element = document.getElementById(id);
          var headerOffset = window.innerWidth > 1024 ? 64 : 90;
          var elementPosition = element.getBoundingClientRect().top;
          var offsetPosition =
            elementPosition + window.pageYOffset - headerOffset;

          window.scrollTo({
            top: offsetPosition,
            behavior: 'smooth',
          });
        }, 100);
      }
      
    </script>
  </body>
</html>
